[submodule "themes/jetbrains/base16-jetbrains"]
	path = themes/jetbrains/base16-jetbrains
	url = https://github.com/adilosa/base16-jetbrains.git
[submodule "themes/iterm/base16-iterm2"]
	path = themes/iterm/base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2.git
